<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/admin/sidebara.css" />
    <link rel="icon" href="~/img/koilogo.jpg" type="image/jpg" />
    <title>KoiTranS</title>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-logo">
            <a href="#">
                <img src="~/img/logo.png" alt="KoiTranS Logo" class="logo" />
                <span class="logo-text">KoiTranS</span>
            </a>
        </div>

        <ul>
            <li><a href="#"><i class="fas fa-chart-line"></i> Thống Kê</a></li>
            <li><a href="#"><i class="fa-solid fa-clipboard-check"></i> Đơn Vận Chuyển</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar-check"></i> Lịch Đặt Tư Vấn</a></li>
            <li class="mintopsub">
                <a href="#"><i class="fa-solid fa-fish"></i> Koi World</a>
            </li>
            <li><a href="#"><i class="fa-solid fa-tag"></i> Bảng Giá</a></li>
            <li><a href="@Url.Action("Index", "Sales")"><i class="fa-solid fa-percent"></i> Ưu Đãi</a></li> <!-- Liên kết đến trang Sales -->
            <li><a href="#"><i class="fa-solid fa-comments"></i> Đánh Giá & Feedback</a></li>
        </ul>
    </div>

</body>
</html>
