################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NhomBabayShark_Chude3/FileContentIndex/c31209ac-81e8-45f9-baa5-5ac672570252.vsidx
/.vs/NhomBabayShark_Chude3/FileContentIndex/41f87719-fa45-4b77-a670-f6ae044aafa2.vsidx
