@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng - Công ty Vận chuyển Cá Koi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/cart.css">
</head>
<body>
    @Html.Partial("_SideBar")
    <section id="cart_items">
        <div class="container">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Sản phẩm</td>
                            <td class="description">Thông tin</td>
                            <td class="price">Giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Tổng cộng</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart_product">
                                <a href="#"><img src="images/cart/koi-transport.png" alt="Dịch vụ vận chuyển"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="#">Dịch vụ Vận chuyển</a></h4>
                                <p>Vận chuyển cá Koi đến địa điểm yêu cầu</p>
                            </td>
                            <td class="cart_price">
                                <p>500,000 VND</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href="#"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href="#"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">500,000 VND</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="cart_product">
                                <a href="#"><img src="images/cart/koi-fish.png" alt="Cá Koi"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="#">Cá Koi - Loại Kohaku</a></h4>
                                <p>Kích thước: 20cm</p>
                            </td>
                            <td class="cart_price">
                                <p>1,200,000 VND</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href="#"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href="#"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">1,200,000 VND</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="cart_summary">
                    <p>Tổng cộng: <span class="total_price">1,700,000 VND</span></p>
                    <button class="checkout_btn">Đặt hàng ngay</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


