body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#main .nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#main .user {
  display: flex;
  justify-content: flex-end;
  top: 0;
}
