* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.btn {
  cursor: pointer;
}
.icon {
  font-size: 25px;
  padding: 10px 5px;
  color: #181717;
}
.icon:hover {
  color: #2c2929;
  text-shadow: 0 0 5px #8e8a8a, 0 0 10px #807d7d;
}
.icon-min {
  font-size: 20px;
}
#header {
  display: flex;
  padding: 5px;
  position: fixed;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(134, 214, 254, 0.5);
  background-color: transparent;
  gap: 20px;
  right: 0;
  top: 0;
  left: 0;
}
#header .nav {
  display: flex;
  list-style-type: none;
  gap: 25px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 170, 255, 0.5), 0 0 30px rgba(0, 170, 255, 0.5);
  margin: 0 auto;
}
#header .nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
