body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.btn {
  cursor: pointer;
}
#main {
  display: flex;
  justify-content: space-between;
}

#main .nav {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
#main .user {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.icon {
  padding: 0 10px 10px 10px;
  font-size: 30px;
}
