body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
#main {
  display: flex; /* Sắp xếp các phần tử con theo hàng ngang */
  justify-content: space-between; /* Căn đều khoảng cách giữa các phần tử */
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 10px; /* Thêm khoảng cách bên trong */
}

#main .nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}
